<!--# -*- coding: utf-8 -*-
"""
Created on Tue Nov 10 22:08:31 2020

@author: cezxary
""" !-->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{post['title']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div>
        <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
      </div>
      {% if g.user['id'] == post['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
      {% endif %}
      <div>
      {% if liked %}
        <a href="{{ url_for('post.unlike_post', id=post['id']) }}">You like this post!</a>
      {% else %}
        <a href="{{ url_for('post.like_post', id=post['id']) }}">Like</a>
      {% endif %}
      </div>
    </header>
    <p class="body">{{ post['body'] }}</p>
  </article>
  <section class="comment-section">
    <h3>Comments</h3>
    {% if 'comment' in request.path %}
      {% block new_comment %}{% endblock %}
    {% else %}
      <a href="{{ url_for('comment.comment', id=post['id']) }}"> Write a new comment!</a>
    {% endif %}
    {% for comment in comments %}
    <div class="comment">
      <div class="about">by {{ comment['username'] }} on {{ comment['created'].strftime('%Y-%m-%d') }}</div>
      </hr>
      <div class="body">{{ comment['body'] }}</div>
    </div>
    {% else %}
    <p>No comments here yet!</p>
    {% endfor %}
  </section>
{% endblock %}